useDynLib(BFRdist, .registration = TRUE)
# export(dbfrdist)
# export(pbfrdist)
# export(qbfrdist)
# export(rbfrdist)
export(estimateBFR)
export(estimateBFR_cpp)
importFrom(Rcpp, evalCpp)
importFrom("stats", "pbeta", "runif")